body{
    font-family: 'Lato';
    background-image:linear-gradient(45deg, rgb(245, 186, 152), rgb(253, 101, 0));
}
.Login{
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 30px;
    color: aliceblue;
}
.h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    position: absolute;
    left: 38%;

}
.register{
    font-size: small;
    color: white;
}
.register:hover{
    color: blue;
}
.botao-entrar{
    width: 95px;
    height: 23px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.botao-entrar:hover{
    background-color: grey;
}
#usuario{
    outline: none;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
}
#senha{
    outline: none;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
}
.question{
    font-size: small;
}